# PostgreSQL Database Configuration
POSTGRES_USER=vinex
POSTGRES_PASSWORD=vinex_secret
POSTGRES_DB=vinex_db
POSTGRES_PORT=5433

# Database Connection URL (for Prisma & Railway PostgreSQL)
DATABASE_URL=postgresql://vinex:vinex_secret@localhost:5433/vinex_db

# Cloudinary Storage Configuration (Same as noithat-main)
CLOUDINARY_CLOUD_NAME=dmbc4l5sp
CLOUDINARY_API_KEY=754381674985892
CLOUDINARY_API_SECRET=6c5yCfbKtbR3JMYVR5I3b1ddyqs
CLOUDINARY_FOLDER=vinex

# VINEX API Domain
NEXT_PUBLIC_API_URL=https://api.vinexgroup.vn/v1
API_URL=https://api.vinexgroup.vn/v1
